<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="'Communications management'"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" th:href="@{/css/style.css}" href="/css/style.css"/>
</head>
<body>
	<div>
      <p class="h2" th:text="'Интеграционная платформа по управлению коммуникациями (прототип)'"></p>
        <a href="/swagger-ui/index.html" th:text="'link to API definition swagger v2.0'"></a>
        <p>Интеграционная платформа предназначена для коммуникации с клиентами по
разным каналам связи. Хранения истории коммуникаций и возможность получения
статистических выборок.</p>
        <p>Система представляет собой RESTful (Java Spring Boot) приложение с
определенным набором API. Система может иметь собственный UI. Система должна
принимать запросы в формате JSON и отправлять ответы в аналогичном формате.
Запросы могут приходить от различных фронт-систем (WEB порталы,
десктопные приложения, мобильные приложения). После обработки запроса будет
отправлен ответ во внешнюю фронт систему для дальнейшего отображения
результата.</p>
        <p>Отправка коммуникаций и получение статистики возможна как для
авторизованных сотрудников департаментов, так и для авторизованных
пользователей внешних фронт систем.</p>
        <p>При наличии собственного UI возможна авторизация обычных пользователей и
использования функционала системы в полном или частичном объеме.</p>
        <p>Возможно заложить в систему отправки коммуникаций функционал
автоматической настройки правила для коммуникации (автоматический выбор
оптимального канала связи и времени осуществления коммуникации).
Для выполнения запросов к API необходима авторизация. В системе будут
авторизироваться пользователи и клиенты с заполнением своих персональных
данных.
Нулевой клиент системы.</p>
<ul>
    <li>Type: Basic Auth</li>
    <li>username: Admin</li>
    <li>password: admin></li>
</ul>
        <p class="h2" th:text="'Составные части системы'"></p>
<ul>
    <li>База данных</li>
    <li>Набор API для обработки данных.</li>
    <li>Собственный UI</li>
</ul>

        <p class="h2" th:text="'База данных'"></p>
        <p>База данных включает в себя такие сущности:
            • Сотрудники компании (отправители коммуникаций)
            • Клиенты (получатели коммуникаций)
            • Компании
            • Подразделения компании (департаменты)
            • Роли (возможность регулирования функционала сотрудников департаментов
            (как вариант разрешения для отправки определенных типов коммуникаций на
            определенные каналы связи, отправка коммуникаций и/или просмотр
            статистических данных, возможность изменений в системе))
            • Коммуникации (информация о каждой отправленной коммуникации)
            • Правила (правила отправки коммуникации для каждого подразделения)
            • Типы коммуникаций (с возможностью изменения)
            ◦ Массовая
            ◦ Персональная
            ◦ Информационная
            ◦ Опрос
            ◦ Коммерческий опрос
            ◦ Сервисная информация
            • Каналы связи (с возможностью изменения)
            ◦ SMS
            ◦ Push
            ◦ Email
            ◦ Messenger
            ◦ Социальные сети
            • Бронирования (возможность забронировать одного или несколько клиентов
            для определенных коммуникаций)</p>

        <p class="h2" th:text="'Набор API для обработки данных'"></p>
<p>Сотрудники
    • Получение всех сотрудников
    • Получение сотрудника (по id или по определенному поисковому фильтру)
    • Обновление данных сотрудника
    • Добавление сотрудника
    • Удаление сотрудника
    Клиенты
    • Получение всех клиентов
    • Получение клиента (по id или по определенному поисковому фильтру)
    • Обновление данных клиента
    • Добавление клиента
    • Удаление клиента
    Департаменты
    • Получение всех департаментов компании
    • Получение департамента компании (по id или по определенному поисковому
    фильтру)
    • Обновление данных департамента компании
    • Добавление департамента компании
    • Удаление департамента компании
    • Получение всех сотрудников департамента
    Роли
    • Получение всех ролей
    • Получение роли (по id или по определенному поисковому фильтру)
    • Обновление данных роли (добавление разрешений)
    • Добавление роли
    • Удаление роли
    • Получение всех сотрудников роли (по id или по названию)
    Правила
    • Получение всех правил
    • Получение правила (по id или по названию)
    • Обновление данных правила
    • Добавление правила
    • Удаление правилаТипы коммуникаций
    • Получение всех типов коммуникаций
    • Получение типа коммуникации (по id или по названию)
    • Обновление данных типов коммуникаций
    • Добавление типов коммуникаций
    • Удаление типа коммуникации
    Каналы связи
    • Получение всех каналов связи
    • Получение канала связи (по id или по названию)
    • Обновление данных канала связи
    • Добавление канала связи
    • Удаление канала связи
    • Блокирование канала связи (временное или постоянное, для каждого клиента)
    Коммуникации
    • Получение всех коммуникаций (по типу, по клиенту, по статусу)
    • Получение коммуникации (по id или по названию)
    • Добавление коммуникаций (с графиком отправки по каждому клиенту)
    • Удаление коммуникации
    Бронирования
    • Получение всего списка бронирований
    • Получения бронирования (по id или по названию)
    • Обновление данных бронирования
    • Удаление бронирования
    Дополнительно
    • Получение списка доступных типов коммуникаций (коммуникации с успешным
    завершенным статусом)
    ◦ за все время
    ◦ за определенное время
    ◦ за все время для конкретного клиента или группы клиентов
    ◦ за определенное время для конкретного клиента или группы клиентов
    • Получение списка доступных каналов связи (каналы будут пересортированы
    по количеству коммуникаций с успешным статусом отправки)
    ◦ за все время
    ◦ за определенное время◦ за все время для конкретного клиента или группы клиентов
    ◦ за определенное время для конкретного клиента или группы клиентов
    • Проверка доступности для коммуникации
    • Выгрузка данных по успешным коммуникациям по времени отправки (по дням
    недели, по времени в пределах суток) для определения наиболее
    оптимального времени коммуникации
    ◦ по всем клиентами
    ◦ по конкретному клиенту
    ◦ по группе клиентов
    • Бронирование клиента или группы клиентов для будущих коммуникаций
    • Проверка доступности клиента или группы клиентов для коммуникации
    (получение процента успешных коммуникаций из общего числа коммуникаций
    (как вариант))
    • Обновление статусов по отправленной коммуникации
    ◦ для всех коммуникаций
    ◦ для отдельной коммуникации
    ◦ для всех коммуникаций подразделения
    ◦ для коммуникаций клиента или группы клиентов.
    • Выгрузка данных по коммуникациям
    ◦ результаты опросов
    ◦ статистика по откликам / игнорам клиентов
    • Выгрузка статистики по сотрудникам компании
    ◦ по количеству коммуникаций
    ◦ по результативности
    Описание функционала системы ориентировочное и возможна корректировка
    методов и их функциональности по определенным бизнес требованиям
</p>
        <p class="h2" th:text="'Пример работы системы (стартовый вариант):'"></p>
        <a href="/swagger-ui/index.html" th:text="'link to API definition swagger v2.0'"></a>
    </div>
</body>
</html>