<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="'Communications management'"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" th:href="@{/css/style.css}" href="/css/style.css"/>
</head>
<body>
	<div>
        <p class="h2" th:text="'Интеграционная платформа по управлению коммуникациями (прототип)'"></p>
        <a href="/swagger-ui/index.html" th:text="'API definition swagger v2.0'"></a>
        <p>Интеграционная платформа предназначена для коммуникации с клиентами по
           разным каналам связи. Хранения истории коммуникаций и возможность получения
           статистических выборок.</p>
        <p>Система представляет собой RESTful (Java Spring Boot) приложение с
           определенным набором API. Система может иметь собственный UI. Система должна
           принимать запросы в формате JSON и отправлять ответы в аналогичном формате.
           Запросы могут приходить от различных фронт-систем (WEB порталы,
           десктопные приложения, мобильные приложения). После обработки запроса будет
           отправлен ответ во внешнюю фронт систему для дальнейшего отображения
           результата.</p>
        <p>Отправка коммуникаций и получение статистики возможна как для
           авторизованных сотрудников департаментов, так и для авторизованных
           пользователей внешних фронт систем.</p>
        <p>При наличии собственного UI возможна авторизация обычных пользователей и
           использования функционала системы в полном или частичном объеме.</p>
        <p>Возможно заложить в систему отправки коммуникаций функционал
           автоматической настройки правила для коммуникации (автоматический выбор
           оптимального канала связи и времени осуществления коммуникации).
           Для выполнения запросов к API необходима авторизация (Type: Basic Auth). В системе будут
           авторизироваться пользователи и клиенты с заполнением своих персональных данных.</p>
        <p>Нулевой клиент системы.</p>
        <ul>
            <li>username: admin</li>
            <li>password: admin</li>
        </ul>
        <p class="h2" th:text="'Составные части системы'"></p>
        <ul>
            <li>База данных</li>
            <li>Набор API для обработки данных.</li>
            <li>Собственный UI</li>
        </ul>
        <p class="h2" th:text="'База данных'"></p>
        <p>База данных включает в себя такие сущности:</p>
            <ul>
                <li>Сотрудники компании (отправители коммуникаций)</li>
                <li>Клиенты (получатели коммуникаций)</li>
                <li>Компании</li>
                <li>Подразделения компании (департаменты)</li>
                <li>Роли (возможность регулирования функционала сотрудников департаментов
                    (как вариант разрешения для отправки определенных типов коммуникаций на
                    определенные каналы связи, отправка коммуникаций и/или просмотр
                    статистических данных, возможность изменений в системе))</li>
                <li>Коммуникации (информация о каждой отправленной коммуникации)</li>
                <li>Правила (правила отправки коммуникации для каждого подразделения)</li>
                <li>Типы коммуникаций (с возможностью изменения)</li>
                    <ol>
                        <li>Массовая</li>
                        <li>Персональная</li>
                        <li>Информационная</li>
                        <li>Опрос</li>
                        <li>Коммерческий опрос</li>
                        <li>Сервисная информация</li>
                    </ol>
                <li>Каналы связи (с возможностью изменения)</li>
                    <ol>
                        <li>SMS</li>
                        <li>Push</li>
                        <li>Email</li>
                        <li>Messenger</li>
                        <li>Социальные сети</li>
                    </ol>
                <li>Бронирования (возможность забронировать одного или несколько клиентов для определенных коммуникаций)</li>
            </ul>
        <p class="h2" th:text="'Набор API для обработки данных'"></p>
        <p class="h4">Сотрудники</p>
            <ul>
                <li><a href=/"swagger-ui/index.html#/user-controller/usersList" th:text="'Выгрузка списка всех сотрудников'"></a></li>
                <li><a href="/swagger-ui/index.html#/user-controller/getUser" th:text="'Получение сотрудника (по id или по определенному поисковому фильтру)'"></a></li>
                <li><a href="/swagger-ui/index.html#/user-controller/updateUser" th:text="'Обновление данных сотрудника'"></a></li>
                <li><a href="/swagger-ui/index.html#/user-controller/createUser" th:text="'Добавление сотрудника'"></a></li>
                <li><a href="/swagger-ui/index.html#/user-controller/deleteUser" th:text="'Удаление сотрудника'"></a></li>
            </ul>
        <p class="h4">Клиенты</p>
            <ul>
                <li><a href="/swagger-ui/index.html#/client-controller/clientsList" th:text="'Выгрузка списка всех клиентов'"></a></li>
                <li><a href="/swagger-ui/index.html#/client-controller/getClient" th:text="'Получение клиента (по id или по определенному поисковому фильтру)'"></a></li>
                <li><a href="/swagger-ui/index.html#/client-controller/updateClient" th:text="'Обновление данных клиента'"></a></li>
                <li><a href="/swagger-ui/index.html#/client-controller/createClient" th:text="'Добавление клиента'"></a></li>
                <li><a href="/swagger-ui/index.html#/client-controller/deleteClient" th:text="'Удаление клиента'"></a></li>
                <li><a href="/swagger-ui/index.html#/client-controller/bookingClient" th:text="'Бронирование клиентов для коммуникации в будущем'"></a></li>
                <li><a href="/swagger-ui/index.html#/client-controller/clientsListAvailable" th:text="'Выгрузка всех клиентов, доступных для коммуникации'"></a></li>
                <li><a href="/swagger-ui/index.html#/client-controller/checkClientAvailable" th:text="'Проверка доступности клиента для коммуникации по id'"></a></li>
            </ul>
        <p class="h4">Департаменты</p>
            <ul>
                <li><a href="/swagger-ui/index.html#/department-controller/departmentsList" th:text="'Выгрузка списка всех департаментов компании'"></a></li>
                <li><a href="/swagger-ui/index.html#/department-controller/getDepartment" th:text="'Получение департамента компании (по id или по определенному поисковому фильтру)'"></a></li>
                <li><a href="/swagger-ui/index.html#/department-controller/updateDepartment" th:text="'Обновление данных департамента компании'"></a></li>
                <li><a href="/swagger-ui/index.html#/department-controller/createDepartment" th:text="'Добавление департамента компании'"></a></li>
                <li><a href="/swagger-ui/index.html#/department-controller/deleteDepartment" th:text="'Удаление департамента компании'"></a></li>
                <li><a href="/swagger-ui/index.html#/department-controller/getUsersListInDepartment" th:text="'Получение всех сотрудников департамента'"></a></li>
            </ul>
        <p class="h4">Компании</p>
            <ul>
                <li><a href="/swagger-ui/index.html#/company-controller/CompanysList" th:text="'Выгрузка списка всех компаний'"></a></li>
                <li><a href="/swagger-ui/index.html#/company-controller/getCompany" th:text="'Получение компании (по id или по определенному поисковому фильтру)'"></a></li>
                <li><a href="/swagger-ui/index.html#/company-controller/updateCompany" th:text="'Обновление данных компании'"></a></li>
                <li><a href="/swagger-ui/index.html#/company-controller/createCompany" th:text="'Добавление компании'"></a></li>
                <li><a href="/swagger-ui/index.html#/company-controller/deleteCompany" th:text="'Удаление компании'"></a></li>
            </ul>
        <p class="h4">Роли</p>
            <ul>
                <li><a href="/swagger-ui/index.html#/role-controller/rolesList" th:text="'Выгрузка списка всех ролей'"></a></a></li>
                <li><a href="/swagger-ui/index.html#/role-controller/getRole" th:text="'Получение роли (по id или по определенному поисковому фильтру)'"></a></li>
                <li><a href="/swagger-ui/index.html#/role-controller/updateRole" th:text="'Обновление данных роли (добавление разрешений)'"></a></li>
                <li><a href="/swagger-ui/index.html#/role-controller/createRole" th:text="'Добавление роли'"></a></li>
                <li><a href="/swagger-ui/index.html#/role-controller/deleteRole" th:text="'Удаление роли'"></a></li>
                <li><a href="/swagger-ui/index.html#/role-controller/getUsersByRoleId" th:text="'Получение всех сотрудников роли (по id или по названию)'"></a></li>
                <li><a href="/swagger-ui/index.html#/role-controller/addRoleToUser" th:text="'Добавление роли (по id) пользователю по id'"></a></li>
                <li><a href="/swagger-ui/index.html#/role-controller/deleteRoleFromUser" th:text="'Удаление роли (по id) у пользователя по id'"></a></li>
            </ul>
        <p class="h4">Правила</p>
            <ul>
                <li><a href="/swagger-ui/index.html#/rule-controller/rulesList" th:text="'Выгрузка списка всех правил'"></a></li>
                <li><a href="/swagger-ui/index.html#/rule-controller/getRule" th:text="'Получение правила (по id или по названию)'"></a></li>
                <li><a href="/swagger-ui/index.html#/rule-controller/updateRule" th:text="'Обновление данных правила'"></a></li>
                <li><a href="/swagger-ui/index.html#/rule-controller/createRule" th:text="'Добавление правила'"></a></li>
                <li><a href="/swagger-ui/index.html#/rule-controller/deleteRule" th:text="'Удаление правила'"></a></li>
            </ul>
        <p class="h4">Типы коммуникаций</p>
            <ul>
                <li><a href="/swagger-ui/index.html#/communication-type-controller/communicationTypesList_1" th:text="'Выгрузка списка всех типов коммуникаций'"></a></li>
                <li><a href="/swagger-ui/index.html#/communication-type-controller/getCommunicationType" th:text="'Получение типа коммуникации (по id или по названию)'"></a></li>
                <li><a href="/swagger-ui/index.html#/communication-type-controller/updateCommunicationType" th:text="'Обновление данных типов коммуникаций'"></a></li>
                <li><a href="/swagger-ui/index.html#/communication-type-controller/createCommunicationType" th:text="'Добавление типов коммуникаций'"></a></li>
                <li><a href="/swagger-ui/index.html#/communication-type-controller/deleteCommunicationType" th:text="'Удаление типа коммуникации'"></a></li>
            </ul>
        <p class="h4">Каналы связи</p>
            <ul>
                <li><a href="/swagger-ui/index.html#/send-channel-type-controller/communicationTypesList" th:text="'Выгрузка списка всех каналов связи'"></a></li>
                <li><a href="/swagger-ui/index.html#/send-channel-type-controller/getSendChannelType" th:text="'Получение канала связи (по id или по названию)'"></a></li>
                <li><a href="/swagger-ui/index.html#/send-channel-type-controller/updateSendChannelType" th:text="'Обновление данных канала связи'"></a></li>
                <li><a href="/swagger-ui/index.html#/send-channel-type-controller/createSendChannelType" th:text="'Добавление канала связи'"></a></li>
                <li><a href="/swagger-ui/index.html#/send-channel-type-controller/deleteSendChannelType" th:text="'Удаление канала связи'"></a></li>
                <li>Блокирование канала связи (временное или постоянное, для каждого клиента)</li>
            </ul>
        <p class="h4">Коммуникации</p>
            <ul>
                <li><a href="/swagger-ui/index.html#/communication-controller/communicationsList" th:text="'Выгрузка списка всех коммуникаций (по типу, по клиенту, по статусу)'"></a></li>
                <li><a href="/swagger-ui/index.html#/communication-controller/getCommunication" th:text="'Получение коммуникации (по id или по названию)'"></a></li>
                <li><a href="/swagger-ui/index.html#/communication-controller/updateCommunication" th:text="'Обновление данных коммуникации'"></a></li>
                <li><a href="/swagger-ui/index.html#/communication-controller/createCommunication" th:text="'Добавление коммуникаций (с графиком отправки по каждому клиенту)'"></a></li>
                <li><a href="/swagger-ui/index.html#/communication-controller/deleteCommunication" th:text="'Удаление коммуникации'"></a></li>
            </ul>
        <p class="h4">Бронирования</p>
            <ul>
                <li><a href="/swagger-ui/index.html#/booking-status-type-controller/communicationTypesList_2" th:text="'Выгрузка списка всего списка бронирований'"></a></li>
                <li><a href="/swagger-ui/index.html#/booking-status-type-controller/getCommunicationType_1" th:text="'Получения бронирования (по id или по названию)'"></a></li>
                <li><a href="1/swagger-ui/index.html#/booking-status-type-controller/updateCommunicationType_1" th:text="'Обновление данных бронирования'"></a></li>
                <li><a href="/swagger-ui/index.html#/booking-status-type-controller/createCommunicationType_1" th:text="'Добавление бронирования'"></a></li>
                <li><a href="/swagger-ui/index.html#/booking-status-type-controller/deleteBookingStatusType" th:text="'Удаление бронирования'"></a></li>
            </ul>
        <p class="h4">Дополнительно</p>
            <ul>
                <li>Получение списка доступных типов коммуникаций (коммуникации с успешным завершенным статусом)</li>
                    <ol>
                        <li>за все время</li>
                        <li>за определенное время</li>
                        <li>за все время для конкретного клиента или группы клиентов</li>
                        <li>за определенное время для конкретного клиента или группы клиентов</li>
                    </ol>
                <li>Получение списка доступных каналов связи (каналы будут пересортированы по количеству коммуникаций с успешным статусом отправки)</li>
                    <ol>
                        <li>за все время</li>
                        <li>за определенное время</li>
                        <li>за все время для конкретного клиента или группы клиентов</li>
                        <li>за определенное время для конкретного клиента или группы клиентов</li>
                    </ol>
                <li>Проверка доступности для коммуникации</li>
                <li>Выгрузка данных по успешным коммуникациям по времени отправки (по дням недели, по времени в пределах суток) для определения наиболее оптимального времени коммуникации</li>
                    <ol>
                        <li>по всем клиентами</li>
                        <li>по конкретному клиенту</li>
                        <li>по группе клиентов</li>
                    </ol>
                <li>Бронирование клиента или группы клиентов для будущих коммуникаций</li>
                <li>Проверка доступности клиента или группы клиентов для коммуникации
                    (получение процента успешных коммуникаций из общего числа коммуникаций
                    (как вариант))</li>
                <li>Обновление статусов по отправленной коммуникации</li>
                    <ol>
                        <li>для всех коммуникаций</li>
                        <li>для отдельной коммуникации</li>
                        <li>для всех коммуникаций подразделения</li>
                        <li>для коммуникаций клиента или группы клиентов.</li>
                    </ol>
                <li>Выгрузка данных по коммуникациям</li>
                    <ol>
                        <li>результаты опросов</li>
                        <li>статистика по откликам / игнорам клиентов</li>
                    </ol>
                <li>Выгрузка статистики по сотрудникам компании</li>
                    <ol>
                        <li>по количеству коммуникаций</li>
                        <li>по результативности</li>
                    </ol>
            </ul>
        <p>Описание функционала системы ориентировочное и возможна корректировка методов и их функциональности по определенным бизнес требованиям</p>
        <p class="h2" th:text="'Пример работы системы (стартовый вариант):'"></p>
        <a href="/swagger-ui/index.html" th:text="'API definition swagger v2.0'"></a>
     </div>
</body>
</html>